@font-face
  font-family 'BCSans'
  font-style normal
  font-weight 400
  src url('assets/fonts/BCSans-Regular.woff')
  format('woff')

@font-face
  font-family 'BCSans'
  font-style italic
  font-weight 400
  src url('assets/fonts/BCSans-Italic.woff')
  format('woff')

@font-face
  font-family 'BCSans'
  font-style normal
  font-weight 700
  src url('assets/fonts/BCSans-Bold.woff')
  format('woff')

@font-face
  font-family 'BCSans'
  font-style italic
  font-weight 700
  src url('assets/fonts/BCSans-BoldItalic.woff')
  format('woff')

html
  font-size 14px


body
  font-size 1rem
  padding 0
  background-color #1f1f1f

h1
  font-size 2.5rem
  font-weight 700

.v-application
  font-family 'BCSans', Verdana, Arial, sans-serif !important
  padding 0

.fw-400
  font-weight 400

.fw-700
  font-weight 700

.fs-45
  font-size 45px

