$body-bg: #1f1f1f;

$red: #E01E36;
$d-red: rgba(190, 25, 45, 0.71);
$xd-red: rgba(255, 33, 59, 0.2);

$blue: #1976d2;
$header-blue: #003366;
$d-blue: #003366;
$link: #1a5a96;
$xl-blue: #dceffa;

$d-grey: #494949;
$grey: #bcbec5;
$l-grey: #dddddd;
$xl-grey: #f2f2f2;

$cyan: #5bc2e7;
$d-cyan: rgba(91, 191, 229, 0.53);
$xd-cyan: rgba(100, 215, 255, 0.2);

$green: #82c545;
$d-green: #417505;
$xd-green: rgba(54, 197, 43, 0.31);

$gold: #fcba19;
$d-gold: rgba(255, 189, 25, 0.31);
