/*
 * Base styles
 */

@import "theme.scss";

/*
 * Fonts
 */
@font-face {
  font-family: 'BCSans';
  font-style: normal;
  font-weight: normal;
  src: url('~@/assets/fonts/BCSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'BCSans';
  font-style: italic;
  font-weight: normal;
  src: url('~@/assets/fonts/BCSans-Italic.woff') format('woff');
}

@font-face {
  font-family: 'BCSans';
  font-style: normal;
  font-weight: bold;
  src: url('~@/assets/fonts/BCSans-Bold.woff') format('woff');
}

@font-face {
  font-family: 'BCSans';
  font-style: italic;
  font-weight: bold;
  src: url('~@/assets/fonts/BCSans-BoldItalic.woff') format('woff');
}

html {
  scroll-behavior: smooth;
}

/*
 * HTML element styles
 */
.h6, h6 {
  color: $dk-text;
  font-size: 1rem;
  line-height: 20px;
  font-weight: bold;
}

/*
 * Global styles
 */
.approved {
  color: $app-green !important;
}

.rejected {
  color: $app-red !important;
}

.error-message {
  color: $app-red !important;
}

// background colours
.bg-light-gray {
  background-color: $gray1 !important;
}

.bg-light-blue {
  background-color: $app-lt-blue !important;
}

.app-blue {
  color: $app-blue !important;
}

.app-red {
  color: $app-red !important;
}

.app-green {
  color: $app-green !important;
}

// normal button: white on blue
.button-normal {
  color: white !important;
  background-color: $app-blue  !important;
  border: thin solid $app-blue !important;
}

// blue button: blue on white
.button-blue {
  color: $app-blue !important;
  background-color: transparent !important;
  border: thin solid $app-blue !important;
}

// red button: red on white
.button-red {
  color: $app-red !important;
  background-color: transparent !important;
  border: thin solid $app-red !important;
}

.dotted-underline {
  border-bottom: 1px dotted;
}

.cursor-default {
  cursor: default; /* arrow */
}
