/*
 * Layout styles
 * (document sections, containers, lists, etc
 */
.pr-75 {
  padding-right: 75px !important;
}

.pl-75 {
  padding-left: 75px !important;
}

.content-container {
  min-width: 960px;
  max-width: 1300px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media only screen and (max-width: 600px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .content-container {
    min-width: 0;
  }
}


