/*
 * Layout styles
 * (document sections, containers, lists, etc
 */
.pr-75 {
  padding-right: 75px !important;
}

.pl-75 {
  padding-left: 75px !important;
}

.content-container {
  min-width: 960px !important;
  max-width: 1300px !important;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}
