/*
 * Vuetify overrides
 */

@import "theme.scss";

.v-application {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: 'BCSans', Verdana, Arial, sans-serif !important;
  padding: 0;

  .text-body-1 {
    font-family: inherit !important;
    letter-spacing: normal !important;
    line-height: 1.5rem !important;
  }

  .text-body-2 {
    font-family: inherit !important;
    letter-spacing: normal !important;
    line-height: 1.375rem !important;
  }

  .text-body-3 {
    font-family: inherit;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }

  .text-body-4 {
    font-family: inherit;
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: $text;
  }

  .text-name {
    font-family: inherit;
    font-size: 1.125rem;
    line-height: 1.875rem;
    text-transform: capitalize;
    color: $text;
  }
}

/* generic layout for dialogs */
.v-dialog > .v-card {
  padding: 2.5rem;

  .v-card__title {
    padding: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: $dk-text;
    letter-spacing: normal;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
  }

  .v-card__text {
    padding: 2rem 0 0 0;
    font-size: 1rem;
    color: $text;
    line-height: 1.5rem;
  }

  .v-card__actions {
    padding: 2rem 0 0 0;
  }

  .v-btn.dialog-close {
    color: $app-blue !important;
    background-color: transparent !important;
    box-shadow: none !important;
  }
}

.grey-box-checkbox-button .v-input--selection-controls__ripple {
  display: none;
}

.grey-box-checkbox-button .v-input__slot {
  position: relative;
  left: 0px;
  top: 0px;
}

.designation-error-col {
  padding: 5px 10px 0px 10px;
}

.grey-box-checkbox-button label {
  font-size: 14px;
  color: $non-clickable-blue !important;
}

.v-btn {
  font-family: inherit !important;
  font-size: 0.875rem !important;
  text-transform: none !important;
  letter-spacing: normal !important;
  height: 2.5rem !important;
  box-shadow: 1px 1px rgba(0,0,0,.2) !important;
  color: white !important;
  background-color: $app-blue !important;
  padding: inherit 28px !important;
}

// gray button: white on gray
.button-gray {
  color: white !important;
  background-color: $gray6 !important;
  border: thin solid $gray6 !important;
}

// normal button: white on blue
.button-normal {
  color: white !important;
  background-color: $app-blue  !important;
  border: thin solid $app-blue !important;
}

// blue button: blue on white
.button-blue {
  color: $app-blue !important;
  background-color: transparent !important;
  border: thin solid $app-blue !important;
}

// red button: red on white
.button-red {
  color: $app-red !important;
  background-color: transparent !important;
  border: thin solid $app-red !important;
}

// text button: blue text 
.button-text {
  @extend .button-blue;
  border: thin solid transparent !important;
  text-decoration: underline;
  box-shadow: none !important;
}

.v-label {
  color: $text !important;
}

.sbc-header {
  .v-btn {
    background-color: rgba(0, 0, 0, 0) !important;
    text-transform: none !important;
    font-weight: normal !important;
    letter-spacing: normal !important;
    font-size: .875rem !important;
  }
}

.v-btn.primary {
  color: white !important;
  background-color: $app-blue !important;
}

.v-btn.secondary {
  color: white !important;
  background-color: $other-bg !important;
}

.v-btn.outlined {
  color: $app-blue !important;
  background-color: white !important;
}

.v-btn.warning {
  color: white !important;
  background-color: $caution !important;
}

.v-btn.error {
  color: white !important;
  background-color: $app-red !important;
}

.v-select__selections {
  font-size: 16px;
  color: $text !important;
}

.v-tab {
  text-transform: none !important;
  font-size: 18px !important;
  font-weight: bold !important;
  color: white !important;
}

.v-tab.active-tab {
  text-transform: none !important;
  font-size: 18px !important;
  font-weight: bold !important;
  color: $dk-text !important;
}

.v-tab.active-tab:hover, .v-tab--active {
  background-color: white !important;
  pointer-events: none;
}

.v-tab:not(.active-tab):hover {
  background-color: $app-blue !important;
}

.top-tooltip, .left-tooltip {
  margin-left: 0 !important;
}

.v-tooltip__content {
  width: 270px !important;
  background-color: RGB(73,80,87) !important;
  color: white !important;
  border-radius: 4px;
  font-size: 12px !important;
  line-height: 18px !important;
  padding: 20px !important;
  letter-spacing: 0;
}

.v-tooltip__content:after {
  content: "" !important;
  position: absolute !important;
  top: 50% !important;
  right: 100% !important;
  margin-top: -10px !important;
  border-top: 10px solid transparent !important;
  border-bottom: 10px solid transparent !important;
  border-right: 8px solid RGBA(73,80,87,0.95) !important;
}

.top-tooltip:after {
  top: 100% !important;
  left: 45% !important;
  margin-top: 0 !important;
  border-right: 10px solid transparent !important;
  border-left: 10px solid transparent !important;
  border-top: 8px solid RGBA(73,80,87,0.95) !important;
}

.left-tooltip:after {
  top: 50% !important;
  left: 100% !important;
  margin-top: -10px !important;
  border-bottom: 10px solid transparent !important;
  border-top: 10px solid transparent !important;
  border-right: 10px solid transparent !important;
  border-left: 8px solid RGBA(73,80,87,0.95) !important;
}

.bottom-tooltip {
  width: 390px !important;
}

.bottom-tooltip:after {
  left: 45% !important;
  top: 0 !important;
  margin-top: -18px !important;
  border-top: 10px solid transparent !important;
  border-left: 10px solid transparent !important;
  border-right: 10px solid transparent !important;
  border-bottom: 8px solid RGBA(73,80,87,0.95) !important;
}

.v-text-field__details {
  color: $dk-text !important;
}

.v-input__slot:not(.v-input--checkbox .v-input__slot) {
  background-color: $gray1 !important;
}

input#name-generator-1, input#name-generator-2 {
  color: $non-clickable-blue !important;
  font-size: 40px !important;
  min-height: 46px !important;
}

#applicant-info-slider .v-slide-group {
  display: none !important;
}

#send_to_examiner-button-checkbox-col .v-messages {
  display: none;
}

#applicant-info-slider div.v-text-field__details {
  margin: 0 !important;
}

.ql-container {
  font-family: inherit !important;
  font-size: 16px !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-bottom: 1px solid $border !important;
  background-color: $gray1 !important;
  height: 52px !important;
}
