// Gray Palette
$gray0: #f8f9fa;
$gray1: #f1f3f5;
$gray2: #e9ecef;
$gray3: #dee2e6;
$gray4: #ced4da;
$gray5: #adb5bd;
$gray6: #868e96;
$gray7: #495057;
$gray8: #343a40;
$gray9: #212529;

// BC GOV BLUE PALETTE
$BCgovBlue0: #e0e7ed;
$BCgovBlue1: #b3c2d1;
$BCgovBlue2: #8099b3;
$BCgovBlue3: #4d7094;
$BCgovBlue4: #26527d;
$BCgovBlue5: #003366;
$BCgovBlue6: #002e5e;
$BCgovBlue7: #002753;
$BCgovBlue8: #002049;
$BCgovBlue9: #001438;

// Accent Blue
$BCgovABlue1: #6e93ff;
$BCgovABlue2: #3b6cff;
$BCgovABlue3: #0846ff;
$BCgovABlue4: #003bee;

// BC GOV GOLD PALETTE
$BCgovGold0: #fff7e3;
$BCgovGold1: #feeaba;
$BCgovGold2: #fedd8c;
$BCgovGold3: #fdcf5e;
$BCgovGold4: #fcc43c;
$BCgovGold5: #fcba19;
$BCgovGold6: #fcb316;
$BCgovGold7: #fbab12;
$BCgovGold8: #fba30e;
$BCgovGold9: #fa9408;

// Accent Gold
$BCgovAGold1: #FFFFFF;
$BCgovAGold2: #FFF8EF;
$BCgovAGold3: #FFE0BC;
$BCgovAGold4: #FFD4A2;

// Font colors
$dk-text: $gray9;
$text: $gray7;
$BCgovFontColorInverted: #ffffff;

// Some popular colors
$app-blue: #1669bb;
$app-md-blue: #1976D2;
$app-lt-blue: #e4edf7;
$app-red: #d3272c;
$app-green: #2e8540;
$border: #899eb2;
$gold: $BCgovGold5;

$other-bg: #e2e8ee;
$caution: #F8661A;

// For non-clickable icons/graphics
// on light gray background
$non-clickable-blue: #38598a;
