
@font-face
  font-family: 'BCSans'
  font-style: normal
  font-weight: 400
  src: url('~@/assets/fonts/BCSans-Regular.woff') format('woff')

@font-face
  font-family: 'BCSans'
  font-style: italic
  font-weight: 400
  src: url('~@/assets/fonts/BCSans-Italic.woff') format('woff')

@font-face
  font-family: 'BCSans'
  font-style: normal
  font-weight: 700
  src: url('~@/assets/fonts/BCSans-Bold.woff') format('woff')

@font-face
  font-family: 'BCSans'
  font-style: italic
  font-weight: 700
  src: url('~@/assets/fonts/BCSans-BoldItalic.woff') format('woff')

.bg-grey-1
  background-color: $grey-1

.bg-grey-2
  background-color: $grey-2

.bg-grey-3
  background-color: $grey-3

.bg-grey-4
  background-color: $grey-4

.bg-grey-5
  background-color: $grey-5

.colour-link
  color: $link

.colour-p-blue-text
  color: $p-blue-text !important

.colour-text
  color: $text !important

.colour-white
  color: white !important

.copy-bold
  @extend .copy-normal
  font-weigt: 700

.copy-large
  @extend .copy-normal
  font-size: 18px !important
  line-height: 26px !important

.copy-normal
  color: $text
  font-weight: 400
  font-size: 16px
  line-height: 24px

.copy-small
  @extend .copy-normal
  font-size: 14px !important
  line-height: 18px !important

.fs-24
  font-size: 24px

.fs-58
  font-size: 58px !important

.fw-700
  font-weight: 700

.h1, h1
  color: $dk-text
  font-size: 40px
  line-height: 50px
  font-weight: 700

.h2, h2
  color: $dk-text
  font-size: 32px
  line-height: 42px
  font-weight: 700

.h2-lt
  @extend .h2
  color: white

.h3, h3
  color: $dk-text
  font-size: 24px
  line-height: 34px
  font-weight: 700

.h3-lt
  @extend .h3
  color: white

.h4, h4
  color: $dk-text
  font-size: 18px
  line-height: 26px
  font-weight: 700

.h4-lt
  @extend .h4
  color: white

.h5, h5
  color: $dk-text
  font-size: 16px
  line-height: 24px
  font-weight: 700

.h5-lt
  @extend .h5
  color: white

.h6, h6
  color: $dk-text
  font-size: 14px
  line-height: 20px
  font-weight: 700

.link-lg
  @extend .link-std
  font-size: 18px
  line-height: 26px

.link-sm
  @extend .link-std
  font-size: 14px
  line-height: 20px

.link-sm-dk-text
  font-size: 14px !important
  color: $dk-text !important
  text-decoration: none !important

.link-sm-sans-ul
  @extend .link-sm
  text-decoration: none

.link-std
  font-size: 16px
  font-weight: 400
  color: $link
  text-decoration: underline
  line-height: 24px
  cursor: pointer

.link-std-sans-ul
  @extend .link-std
  text-decoration: none !important

.link-xsm
  @extend .link-std
  font-size: 12px
  line-height: 16px

#back-to-search-btn
  color: $link !important
  letter-spacing: unset !important
  text-decoration: underline
  cursor: pointer !important
  background-color: white !important
  text-transform: none !important

#next-issue-btn, #previous-issue-btn
  background-color: white !important
  border-radius: 6px !important
  box-shadow: none !important
  border-width: 1px !important
  border-style: solid !important
  border-block-end-width: 1px !important
  margin-right: 20px

#previous-issue-btn
  margin-left: 20px !important

#next-issue-btn.disabled-issue-btn
  color: lightgrey !important
  border-color: lightgrey !important

#next-issue-btn.active-issue-btn, #previous-issue-btn
  color: $link !important
  border-color: $link !important

.main-container-style
  background-color: white !important
  border-radius: 6px !important

.mini-back-arrow
  font-size: 14.5px !important
  font-weight: 700
  top: -1px !important
  position: relative !important
  color: $link !important

#applicant-info-1 .v-text-field__details
  margin: 0 !important

#submit-continue-btn
  text-transform: none !important

#submit-continue-btn-disabled
  text-transform: none !important
  background-color: $grey-2 !important
  color: #A8ACB0 !important
  box-shadow: none !important

#submit-back-btn
  background-color: white !important
  color: $link !important
  border: 1px solid $link !important
  box-shadow: none !important
  text-transform: none !important

/* CSS TRANSITION/ANIMATION CLASSES */
.fade-enter, .fade-leave-to
  opacity: 0

.fade-enter-active, .fade-leave-active
  transition: all .25s ease-in

.fadeslower-enter, .fadeslower-leave-to
  opacity: 0

.fadeslower-enter-active, .fadeslower-leave-active
  transition: all .40s ease-in

.flip-enter, .flip-leave-to
  transform: rotateX(90deg)

.flip-enter-active, .flip-leave-active
  transition: all .2s ease-in

.flip-enter-to, .flip-leave
  transform: rotateX(0deg)

.flip-class
  backface-visibility: visible
  perspective-origin: center
  perspective: 1000px
  transform-style: preserve-3d

.helpful-hint
  padding: 15px 25px 15px 25px
  border-radius: 4px
  border: 1px dashed $pale-blue
  background-color: $grey-1
  width: 740px !important
  min-height: 160px
  text-align: center !important

.square-card-x2
  height: 215px
  width: 420px !important
  padding: 15px 25px 15px 25px
  border-radius: 4px
  border: 1px dashed $pale-blue
  background-color: $grey-1

.square-card-x3
  height: 215px
  width: 280px !important
  padding: 15px 25px 15px 25px
  border-radius: 4px
  border: 1px dashed $pale-blue
  background-color: $grey-1

#Country2
  font-size: 14px !important

.name-search-icon
  color: $link
  cursor: pointer

.hidden
  display: none !important

// @bizpal/open-services-bst imports Buefy which uses the .container class name which conflicts with vuetify
// the following CSS fixes the issues from including the open-services-bst
#landing-container, .container
  max-width: unset !important
