$dk-text: #212529
$text: #495057
$lt-text: #6f7780
$link: #1669bb
$hover: #1a5a96
$p-blue-text: #38598a

$grey-1: #f1f3f5
$grey-2: #e4eaee
$grey-3: #e9ecef
$grey-4: #dee2e6
$grey-5: #6f7780

$primary-bg: #f1f3f5
$other-bg: #e2e8ee

$hairline: #dee2e6
$dotted: #899eb2
$formlines: #6f7780

$error: #d3272c
$approved: #1a9031
$caution: #bf4803

$body-bg: #1f1f1f
$header-blue: #003366
$gold: #fcba19
$pale-blue: #899eb2

