/*
 * Base styles
 */

@import "theme.scss";

/*
 * Fonts
 */
@font-face {
  font-family: 'BCSans';
  font-style: normal;
  font-weight: normal;
  src: url('~@/assets/fonts/BCSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'BCSans';
  font-style: italic;
  font-weight: normal;
  src: url('~@/assets/fonts/BCSans-Italic.woff') format('woff');
}

@font-face {
  font-family: 'BCSans';
  font-style: normal;
  font-weight: bold;
  src: url('~@/assets/fonts/BCSans-Bold.woff') format('woff');
}

@font-face {
  font-family: 'BCSans';
  font-style: italic;
  font-weight: bold;
  src: url('~@/assets/fonts/BCSans-BoldItalic.woff') format('woff');
}

html {
  scroll-behavior: smooth;
}

/*
 * HTML element styles
 */
.h6, h6 {
  color: $dk-text;
  font-size: $px-16;
  line-height: 20px;
  font-weight: bold;
}

/*
 * Global styles
 */
.approved {
  color: $app-green !important;
}

.rejected {
  color: $app-red !important;
}

.error-message {
  color: $app-red !important;
}

// background colours
.bg-light-gray {
  background-color: $gray1 !important;
}

.bg-light-blue {
  background-color: $app-lt-blue !important;
}

.app-blue {
  color: $app-blue !important;
}
.app-red {
  color: $app-red !important;
}

.app-green {
  color: $app-green !important;
}

.dotted-underline {
  border-bottom: 1px dotted;
}

.cursor-default {
  cursor: default; /* arrow */
}

.bg-grey-1 {
  background-color: $gray1;
}

.colour-link {
  color: $app-blue;
}

.colour-p-blue-text {
  color: $non-clickable-blue !important;
}

.colour-text {
  color: $text !important;
}

.colour-dk-text {
  color: $dk-text !important;
}

.copy-bold {
  @extend .copy-normal;
  font-weight: bold !important;
}

.copy-large {
  @extend .copy-normal;
  font-size: $px-18 !important;
  line-height: 26px !important;
}

.copy-normal {
  color: $text;
  font-weight: normal;
  font-size: $px-16;
  line-height: 24px;
}

.copy-small {
  @extend .copy-normal;
  font-size: $px-14 !important;
  line-height: 1.25rem !important;
}

.fs-24 {
  font-size: $px-24;
}

.h1, h1 {
  color: $dk-text;
  font-size: 40px;
  line-height: 50px;
  font-weight: bold;
}

.h2, h2 {
  color: $dk-text;
  font-size: $px-32;
  line-height: 42px;
  font-weight: bold;
}

.h2-lt {
  @extend .h2;
  color: white;
}

.h3, h3 {
  color: $dk-text;
  font-size: $px-24;
  line-height: 34px;
  font-weight: bold;
}

.h3-lt {
  @extend .h3;
  color: white;
}

.h4, h4 {
  color: $dk-text;
  font-size: $px-18;
  line-height: 26px;
  font-weight: bold;
}

.h4-lt {
  @extend .h4;
  color: white;
}

.h5, h5 {
  color: $dk-text;
  font-size: $px-18;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: 0;
}

.h5-lt {
  @extend .h5;
  color: white;
}

.h6, h6 {
  color: $dk-text;
  font-size: $px-16;
  line-height: 20px;
  font-weight: bold;
}

.link-lg {
  @extend .link-std;
  font-size: $px-18;
  line-height: 20px;
}

.link-sm {
  @extend .link-std;
  font-size: $px-14;
  line-height: 20px;
}

.link-sm-dk-text {
  font-size: $px-14 !important;
  color: $dk-text !important;
  text-decoration: none !important;
}

.link-sm-sans-ul {
  @extend .link-sm;
  text-decoration: none;
}

.link-std {
  font-size: $px-14;
  font-weight: normal;
  color: $app-blue;
  text-decoration: underline;
  line-height: 20px;
  cursor: pointer;
}

.link-std-sans-ul {
  @extend .link-std;
  text-decoration: none !important;
}

.link-xsm {
  @extend .link-std;
  font-size: $px-12;
  line-height: 16px;
}

#next-issue-btn, #previous-issue-btn {
  background-color: white !important;
  border-radius: 4px !important;
  box-shadow: none !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-block-end-width: 1px !important;
  margin-right: 20px;
}

#next-issue-btn.disabled-issue-btn {
  color: lightgrey !important;
  border-color: lightgrey !important;
}

#next-issue-btn.active-issue-btn, #previous-issue-btn {
  color: $app-blue !important;
  border-color: $app-blue !important;
}

button.reserve-submit-btn {
  min-width: 130px;
  text-transform: unset;
}

.main-container-style {
  border-radius: 4px !important;
  max-width: 1140px;
}

#applicant-info-1 .v-text-field__details {
  margin: 0 !important;
}

/* CSS TRANSITION/ANIMATION CLASSES */
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: all .25s ease-in;
}

.fadeslower-enter, .fadeslower-leave-to {
  opacity: 0;
}

.fadeslower-enter-active, .fadeslower-leave-active {
  transition: all .40s ease-in;
}

.flip-enter, .flip-leave-to {
  transform: rotateX(90deg);
}

.flip-enter-active, .flip-leave-active {
  transition: all .2s ease-in;
}

.flip-enter-to, .flip-leave {
  transform: rotateX(0deg);
}

.flip-class {
  backface-visibility: visible;
  perspective-origin: center;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.square-card-x1 {
  padding: 25px;
  border-radius: 4px;
  border: 1px dashed $border;
  background-color: $gray1;
  height: 100%;
  width: auto;
  text-align: center !important;
  max-width: 1140px;
}

.square-card-x2 {
  height: 100%;
  width: auto;
  padding: 25px;
  border-radius: 4px;
  border: 1px dashed $border;
  background-color: $gray1;
}

.square-card-x3 {
  height: 100%;
  width: auto;
  padding: 25px;
  margin: 0px;
  border-radius: 4px;
  border: 1px dashed $border;
  background-color: $gray1;
}

#Country2 {
  font-size: $px-14 !important;
}

.name-search-icon {
  color: $app-blue;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

/* FUTURE: Move this somewhere better! */
.fee-list {
  padding-left: 5px !important;
  list-style: none;
}

.title-bold-14 {
  font-weight: bold;
  font-size: .9rem;
  color: $dk-text;
}

.title-bold-16 {
  font-weight: bold;
  font-size: $px-16;
  color: $dk-text;
}

// Loading Indicator
.loading-container {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background: rgba(255, 255, 255, 1);
}

.loading__content {
  margin-top: -2rem;
  flex: 1 1 auto;
  text-align: center;
}

.tooltip-bullet {
  display: list-item;
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 1.5em;
  padding-top: 3px;
}

.user-select-all {
  user-select: all;
}

.pre-wrap {
  white-space: pre-wrap;
}

.pre-line {
  white-space: pre-line;
}

.general-error {
  font-size: 0.9rem;
}

.font-size-14 {
  font-size: $px-14;
}

.font-size-16 {
  font-size: $px-16;
}
