/*
 * Layout styles
 * (document sections, containers, lists, etc
 */
.pr-75 {
  padding-right: 75px !important;
}

.pl-75 {
  padding-left: 75px !important;
}

.content-container {
  min-width: 960px;
  max-width: 1300px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#breadcrumb > .container {
  max-width: 1360px; // should match auth-web, etc
}

@media only screen and (max-width: 925px) {
  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .content-container {
    min-width: 0;
  }
}


